.card-container {
    background-color: var(--card-bg);
    width: 240px;
    height: 400px;
    margin: 20px;
    text-decoration: none;
  }

  .card-picture {
    width: 220px;
    height: 220px;
    overflow: hidden;
    border: 4px solid var(--dark-desaturated-blue);
    margin: 0 auto;
  }
  .card-picture img {
    width: 100%;
    height: auto;
  }

  .card-info {
    display: flex;
    justify-content: space-between;
  }

  .card-description {
    margin: 16px 0;
  }

  .card-description p {
    margin-bottom: 5px;
  }

  .card-description p:first-child {
    border-bottom: 1px solid gray;
    margin-bottom: 10px;
  }

  .card-description + button {
    margin: 0 auto;
  }