header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.link {
    padding: 25px 10px;
    text-decoration: none;
    color: var(--white);
    font-weight: 500;
}

.link:hover {
    border-bottom: 1px solid var(--white);
}

.title {
    color: var(--white);
    text-align: center;
    margin: 30px 0;
    font-weight: 500;
}