/* Css variables */
:root {
    scroll-behavior: smooth;
    --white: hsl(0, 0%, 100%);
    --dark-desaturated-blue: hsl(236, 21%, 26%);
    --light-gray: hsl(0, 0%, 77%);
    --really-dark-blue: hsl(252, 87%, 3%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--really-dark-blue);
  background-image: url('assest/bg-stars.svg');
  font-family: 'Poppins', sans-serif;
}
